@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --romance: #FFFACD;
  --white: white;
  --crystal: #a7d8de;
}

body {
  margin: 0;
  background-image: url(../images/background.jpeg);
  background-repeat: repeat;
  background-size: cover;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Quicksand', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Quicksand',
    monospace;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: var(--white);
  padding: 1rem;
}
.navbar .links a {
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0.3rem;
  margin: 0.3rem; 
  color: inherit;
  cursor: pointer;
}

.navbar .title{
  text-decoration: none;
  color: var(--romance);
  font-size: 2rem;
}

.navbar a span {
  font-size: 3rem;
  font-weight: bold;
}

h1, h2, h3 {
  color: var(--romance);
}

h6 {
  line-height: 1.7;
}

.navbar .title:hover {
  font-weight: bolder;
  color: #FF7F50;
  transform: scale(1.05);
}

.navbar .links a.active {
  background-color: #555;
  padding: 0.3rem 0.5rem;
  border-radius: 0.2rem;
}

.navbar .links a:hover, .download-resume:hover {
  border-radius: 0.2rem;
  background-color: var(--crystal);
  color: var(--romance);
  font-weight: bolder;
}

.card {
  background-color: rgba(118, 144, 145, 0.7);
  min-height: 400px;
  margin-top: 2rem;
}

p {
  color: var(--white);
  font-size: 1rem;
  line-height: 1.5;
}

.card .card-header {
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.card .card-header img {
  cursor: pointer;
  border-radius: 50%;
}

.card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.card .card-body a {
  text-decoration: none;
  padding: 0.5rem;
  color: var(--white);
  width: fit-content;
  background-color: #333;
  border-radius: 0.2rem;
}

.card .card-body a:hover {
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card .card-header img:hover {
  transform: scale(1.1);
  animation: rotation 10s infinite linear;
}

.form-container {
  border-radius: 0.5rem;
  background-color: rgba(118, 144, 145, 0.7);
  padding: 1rem;
}

input[type='text'],[type="email"], textarea {
  background-color: rgb(255, 255, 255, 0.7) !important;
}

.container {
  text-align: center;
}

.container .box {
  width: 100%;
  align-items: center;
}

.container .box h2 {
  color: var(--white);
  padding: 0.5rem;
}

a {
  text-decoration: none;
}

.container .box div {
  border-radius: 0.3rem 0.3rem 0 0;
}

.container .box a h2:hover {
  color: var(--crystal);
}

.container h1 {
  color: var(--white);
}

.container .row {
  display: flex;
  justify-content: space-around;
  margin: 2rem 0;
  padding: 1rem 0;
}

.overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  background-color:rgba(0, 0, 0, 0.3)
}

.download-resume {
  font-size: 1.4em;
  text-decoration: none;
  color: var(--white);
  padding: 0.5rem;
  margin-top: 0.5rem;
}

.resume-image {
  border-radius: 0.5rem;
}

a.email-link {
  color: var(--romance);
  font-size: 1.5em;
  font-weight: bold;
}

a.email-link:hover {
  transform: scale(1.05);
  color: var(--romance);
}

.project-container, .container.about {
  position: absolute;
  top: 100px;
}

.footer {
  bottom: 0;
  left: 0;
}

footer ul li{
  color: var(--white);
  margin: 2rem;
  padding: 1rem;
  font-size: 2.5em;
  display: inline;
}

footer ul li:hover{ 
  color: var(--romance);
  font-weight: bolder;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@media screen and (max-width: 650px) {
  .container .contact-form {
    padding-top: 5rem;
  }
}
  
